openapi: 3.0.1
info:
  title: API ООО "Архангельский морской торговый порт"
  description: |-
    ООО "Архангельский морской торговый порт" предоставляет API для запроса и получения информации о различных аспектах портовой деятельности. API позволяет получить характеристики судов, информацию о прибытии и отправлении в порт, данные по грузам, положения судов флота, а также финансовую информацию.
    Ссылки:
    - [Сайт ООО "АМТП"](https://амтп.рф)
    - [Личный кабинет клиента ООО "АМТП"](https://амтп.рф/#modal-auth-form)
    - [API документация ООО "АМТП"](https://амтп.рф/doc/openapi.yaml)
  
  termsOfService: https://ascp.ru/upload/documents/privacy-policy.pdf
  contact:    
    email: dev@ascp.ru
  version: 1.0.2
servers:
  - url: http://1c-srv.corp.ascp.ru/ugt-dev-7/hs/v2/   

tags:
  - name: Авторизация 
    description: Авторизация
  - name: Управление пользователями
    description: Операции по управлению пользователями системы.

security:
  - ApiKeyAuth: []
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
    BasicAuth:
      type: http
      scheme: basic

  schemas:
    ### Схема для ошибок
    ErrorResponse:
      type: object
      properties:
        code:
          type: integer
          format: int32
          description: Код ошибки
        message:
          type: string
          description: Сообщение об ошибке
    ### Схема для получения типов заявок   
    Person:
      type: object
      properties:
        fullName:
          type: string
          description: ФИО физического лица
          example: "Шестак Денис Анатольевич"
        birthDate:
          type: string
          format: date
          description: Дата рождения
          example: "1992-12-13"
        gender:
          type: string
          description: Пол
          example: "Мужской"
        position:
          type: string
          description: Должность
          example: "ВОДИТЕЛЬ"
        passport:
          type: object
          properties:
            series:
              type: string
              description: Серия и номер паспорта
              example: "AB 3651652"
            issuedBy:
              type: string
              description: Кем выдан паспорт
              example: "Барановичский ГОВД Брестской обл."
            issueDate:
              type: string
              format: date
              description: Дата выдачи паспорта
              example: "2021-09-24"
        contactInfo:
          type: object
          properties:
            phone:
              type: string
              description: Телефон
              example: "+7 123 456 7890"
            email:
              type: string
              description: Электронная почта
              example: "example@example.com"
      required:
        - fullName
        - birthDate
        - gender
        - position
        - passport
    ### Схема для автомобиля
    Auto:
      type: object
      properties:
        number:
          type: string
          description: Гос. номер автомобиля
          example: "A770E067"
        make:
          type: string
          description: Марка автомобиля
          example: "Toyota"
        model:
          type: string
          description: Модель автомобиля
          example: "Camry"
        owner:
          type: string
          description: Собственник автомобиля
          example: "Иванов Иван Иванович"
        vin:
          type: string
          description: VIN автомобиля
          example: "1HGCM82633A123456"
        color:
          type: string
          description: Цвет автомобиля
          example: "Черный"
        trailer:
          type: object
          description: Информация о прицепе (если имеется)
          properties:
            licensePlate:
              type: string
              description: Гос. номер прицепа
              example: "AK544367"
            make:
              type: string
              description: Марка прицепа
              example: "Schmitz"
            model:
              type: string
              description: Модель прицепа
              example: "S.KO"
            vin:
              type: string
              description: VIN прицепа
              example: "WDB93012345678901"
            color:
              type: string
              description: Цвет прицепа
              example: "Белый"
      required:
        - number
        - licensePlate
        - make
        - owner
    ### Схема для грузового места
    Cargo:
      type: object
      properties:
        guid:
          type: string
          description: Уникальный идентификатор груза
          readOnly: true          
        name:
          type: string
          description: Наименование грузового места
        nomenklatura:
          type: string
          description: Номенклатура груза
        weight:
          type: number
          description: Вес груза
        volume:
          type: number
          description: Объем груза
        length:
          type: number
          description: Длина груза
        width:
          type: number
          description: Ширина груза
        height:
          type: number
          description: Высота груза
        quantity:
          type: integer
          description: Количество мест
        cargoType:
          type: string
          description: Тип груза
          enum: ["Генеральный груз", "Контейнер", "Насыпной/Навальный"]
        packaging:
          type: string
          description: Род упаковки
        storageConditions:
          type: string
          description: Условия хранения
        hazardClass:
          type: string
          description: Класс опасности
        container:
          type: object
          description: Данные о контейнере
          properties:
            number:
              type: string
              description: Номер контейнера
            isEmpty:
              type: boolean
              description: Признак порожнего контейнера
          required:
            - number
            - isEmpty
        status:
          type: string
          description: Статус грузового места
          enum: ["Погружен", "На складе", "Запланирован"]
        docNumber:
          type: string
          description: Номер приемного акта порта 
          example: "000002134-НН"

      required:
        - name
        - nomenklatura
        - cargoType
    ### Пример схемы данных для представления судозахода в порт 
    VesselCall:
      type: object
      properties:
        guid:
          type: string
          description: Уникальный идентификатор судозахода
          readOnly: true            
          example: "VC123456"          
        vesselName:
          type: string
          description: Название судна
          example: "MSC Zoe"
        imoNumber:
          type: string
          description: IMO номер судна
          example: "9703316"
        callSign:
          type: string
          description: Позывной судна
          example: "D5QF7"
        arrivalDate:
          type: string
          format: date-time
          description: Дата и время прибытия судна
          example: "2023-10-01T12:00:00Z"
        departureDate:
          type: string
          format: date-time
          description: Дата и время отправления судна
          example: "2023-10-03T18:00:00Z"
        berth:
          type: string
          description: Номер причала
          example: "5A"
        agent:
          type: string
          description: Агент судна
          example: "ООО Морской Агент"
        cargo:
          type: array
          description: Список грузов на судне
          items:
            $ref: '#/components/schemas/Cargo'
        status:
          type: string
          description: Статус судозахода
          enum:
            - "Ожидается"
            - "В процессе"
            - "Завершен"
            - "Отменен"
          example: "Ожидается"
      required:
        - callId
        - vesselName
        - arrivalDate
        - departureDate
        - berth
        - status
    ### Схема для услуги
    Service:
      type: object
      properties:
        name:
          type: string
          description: Наименование услуги
          example: "Услуги погрузки-разгрузки"
        cost:
          type: number
          description: Стоимость услуги
          example: 500
      required:
        - name
        - cost
    ### Схема для получения типов заявок      
    RequestType:
      type: string
      description: Тип заявки
      enum:
        - "Погрузка/выгрузка судна"
        - "Погрузка/выгрузка автомобиля"
        - "Погрузка/выгрузка ЖД"        
        - "Пешеходный пропуск"
        - "Автомобильны пропуск"
        - "Услуги буксира"
        - "Складские Операции"
      example: "Заявка на операцию"
    ### Общие реквизиты заявки 
    RequestCommon:
      type: object
      properties:
        guid:
          type: string
          description: Уникальный идентификатор заявки
          readOnly: true      
        client:
          type: string
          description: Клиент порта
          example: "ООО Транс логистика"
        contract:
          type: string
          description: Договор с клиентом порта
          example: "Договор перевалки №455-24"
        location:
          type: string
          description: Место оказания услуги
          example: "Экономия"
        manager:
          type: string
          description: Ответственный за подготовку документа
          example: "Иванов Иван Иванович"
        signer:
          type: string
          description: Подписант заявки со стороны клиента
          example: "Сидоров Дмитрий Иванович"
        status:
          type: string
          description: Статус заявки
          readOnly: true
          enum:
            - "Создана"
            - "В обработке"
            - "Одобрена"
            - "Отклонена"
          example: "В обработке"
        comment:
          type: string
          description: Комментарий к заявке
          example: "Добавьте сканы документов"
        createdDate:
          type: string
          format: date-time
          readOnly: true
          description: Дата и время создания заявки
      required:
        - client
        - contract
        - location
        - manager
        - signer
        - status
    ### Полиморфная схема заявки (Request)
    CargoRequest:
      allOf:
        - $ref: '#/components/schemas/RequestCommon'
        - type: object
          properties:
            requestType:
              $ref: '#/components/schemas/RequestType'    
            operation:
              type: string
              description: Вид операции по заявке
              enum: ["Погрузка", "Разгрузка"]
              example: "Погрузка" 
          oneOf:
            - $ref: '#/components/schemas/CarCargoRequest'
            - $ref: '#/components/schemas/VesselCargoRequest'
            - $ref: '#/components/schemas/RailCargoRequest'    
          required:
            - requestType
            - operation
    ### Схема для заявки на пропуск для водителя
    DriverPassRequest:
      allOf:
        - $ref: '#/components/schemas/RequestCommon'
        - type: object
          properties:
            guid:
              type: string
              description: Уникальный идентификатор заявки
              readOnly: true
            requestType:
              $ref: '#/components/schemas/RequestType'    
            accessPeriod:
              type: object
              properties:
                startDate:
                  type: string
                  format: date
                  description: Дата начала аккредитации
                  example: "2023-11-01"
                endDate:
                  type: string
                  format: date
                  description: Дата окончания аккредитации
                  example: "2023-11-30"
              required:
                - startDate
                - endDate
            location:
              type: string
              description: Терминал, на который разрешен проезд
              enum:
                - "Экономия"
                - "Бакарица"
              example: "Экономия"
            drivers:
              type: array
              items:
                type: object
                properties:
                  driver:
                    $ref: '#/components/schemas/Person'
                  auto:
                    $ref: '#/components/schemas/Auto'
                required:
                  - driver
                  - auto
          required:
            - requestType
            - accessPeriod
            - location
            - drivers
    ### Схема для заявок на пеший пропуск
    PersonaPassRequest:
      allOf:
        - $ref: '#/components/schemas/RequestCommon'
        - type: object
          properties:
            guid:
              type: string
              description: Уникальный идентификатор заявки
              readOnly: true
            requestType:
              $ref: '#/components/schemas/RequestType'                  
            accessPeriod:
              type: object
              properties:
                startDate:
                  type: string
                  format: date
                  description: Дата начала пропуска
                  example: "2023-11-01"
                endDate:
                  type: string
                  format: date
                  description: Дата окончания пропуска
                  example: "2023-11-30"
              required:
                - startDate
                - endDate
            location:
              type: string
              description: Терминал, на который разрешен проезд
              enum:
                - "Экономия"
                - "Бакарица"
              example: "Экономия"
            persons:
              type: array
              items:
                type: object
                properties:
                  person:
                    $ref: '#/components/schemas/Person'
                required:
                  - person
          required:
            - accessPeriod
            - location
            - persons
    ### Схема для пропуска на водителя
    DriverPass:
      allOf:
        - type: object
          properties:
            guid:
              type: string
              description: Уникальный идентификатор пропуска
              readOnly: true
            passType:
              type: string
              description: Тип пропуска
              enum: ["Автомобильный", "Пешеходный"]                
            accessPeriod:
              type: object
              properties:
                startDate:
                  type: string
                  format: date
                  description: Дата начала аккредитации
                  example: "2023-11-01"
                endDate:
                  type: string
                  format: date
                  description: Дата окончания аккредитации
                  example: "2023-11-30"
              required:
                - startDate
                - endDate
            location:
              type: string
              description: Терминал, на который разрешен проезд
              enum:
                - "Экономия"
                - "Бакарица"
              example: "Экономия"
            driver:
              type: object
              properties:
                persona:
                  $ref: '#/components/schemas/Person'
                auto:
                  $ref: '#/components/schemas/Auto'
              required:
                - persona
                - auto
          required:
            - accessPeriod
            - location
            - driver
    ### Схема для пропуска на пешехода
    PersonaPass:
      allOf:
        - type: object
          properties:
            guid:
              type: string
              description: Уникальный идентификатор пропуска
              readOnly: true
            passType:
              type: string
              description: Тип пропуска
              enum: ["Пешеходный", "Автомобильный"]                  
            accessPeriod:
              type: object
              properties:
                startDate:
                  type: string
                  format: date
                  description: Дата начала аккредитации
                  example: "2023-11-01"
                endDate:
                  type: string
                  format: date
                  description: Дата окончания аккредитации
                  example: "2023-11-30"
              required:
                - startDate
                - endDate
            location:
              type: string
              description: Терминал, на который разрешен проезд
              enum:
                - "Экономия"
                - "Бакарица"
              example: "Экономия"
            persona:
              $ref: '#/components/schemas/Person'
          required:
            - accessPeriod
            - location
            - persona            
    ### Схема заявки на ввоз или вывоз груза автомобилем
    CarCargoRequest:
      allOf:
        - $ref: '#/components/schemas/RequestCommon'
        - type: object
          properties:
            # guid:
            #   type: string
            #   description: Уникальный идентификатор заявки
            #   readOnly: true
            # requestType:
            #   $ref: '#/components/schemas/RequestType'                  
            # operation:
            #   type: string
            #   description: Вид операции по заявке
            #   example: "Погрузка"
            period:
              type: object
              description: Дата автовизита
              properties:
                startDate:
                  type: string
                  format: date
                  description: Дата прибытия
                  example: "2023-11-01"
                endDate:
                  type: string
                  format: date
                  description: Дата убытия
                  example: "2023-11-30"
              required:
                - startDate
                - endDate            
            drivertList:
              type: array
              description: Табличная часть со списком грузов к погрузке в заявке
              items:
                $ref: '#/components/schemas/DriverPass'            
            cargoList:
              type: array
              description: Табличная часть со списком грузов к погрузке в заявке
              items:
                $ref: '#/components/schemas/Cargo'
          required:
            - guid
            - requestType
            - operation
            - period
            - drivertList
            - cargoList
    ### Схема заявки на погрузку или выгрузку судна
    VesselCargoRequest:
      allOf:
        - $ref: '#/components/schemas/RequestCommon'
        - type: object
          properties:
            vesselCall:
              $ref: '#/components/schemas/VesselCall'                
            # requestType:
            #   $ref: '#/components/schemas/RequestType'                  
            # operation:
            #   type: string
            #   description: Вид операции по заявке
            #   example: "Погрузка"
            cargoList:
              type: array  
              description: Табличная часть со списком грузов к погрузке в заявке
              items:
                $ref: '#/components/schemas/Cargo'
          required:
            - guid
            - requestType
            - operation
            - cargoList
    ### Схема заявки на погрузку или выгрузку ЖД
    RailCargoRequest:
      allOf:
        - $ref: '#/components/schemas/RequestCommon'
        - type: object
          properties:
            # guid:
            #   type: string
            #   description: Уникальный идентификатор заявки
            #   readOnly: true
            # requestType:
            #   $ref: '#/components/schemas/RequestType'                      
            # operation:
            #   type: string
            #   description: Вид операции по заявке
            #   example: "Погрузка"
            departureStation:
              type: string
              description: Станция отправления
              example: "СОЛОМБАЛКА"
            wagons:
              type: integer
              description: Количество вагонов
              example: 2
            cargoList:
              type: array  
              description: Табличная часть со списком грузов к погрузке в заявке
              items:
                $ref: '#/components/schemas/Cargo'
          required:
            - guid
            - requestType
            - operation
            - cargoList

paths:
  /auth/login:
    post:
      tags:
        - Авторизация
      summary: Авторизация пользователя
      description: >
        Эндпоинт позволяет пользователю авторизоваться в системе, используя логин и пароль, для получения JWT токена.
      security:
        - BasicAuth: []
        - ApiKeyAuth: []         
      responses:
        '200':
          description: Аутентификация прошла успешно. Возвращает JWT токен.
          content:
            application/json:
              schema:
                type: object
                properties:
                  token:
                    type: string
                    description: JWT токен для доступа к API.
                  token_type:
                    type: string
                    default: "Bearer"
                    description: Тип токена.
                  expires_in:
                    type: integer
                    description: Время действия токена в секундах.
        '403':
          description: Ошибка.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /auth/logout:
    post:
      tags:
        - Авторизация
      summary: Выход из системы
      description: Позволяет пользователю завершить сессию и выйти из системы.
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Успешный выход из системы
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: Сообщение об успешном выходе из системы
        '403':
          description: Ошибка.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  
  /users/create:
    post:
      tags:
        - Управление пользователями
      summary: Создание нового пользователя
      description: Позволяет администратору создать нового пользователя в системе.
      security:
        - ApiKeyAuth: []
        - bearerAuth: []        
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                fullname:
                  type: string
                  description: Полное имя пользователя
                position:
                  type: string
                  description: Должность пользователя в организации                  
                email:
                  type: string
                  format: email
                  description: Электронная почта пользователя
                role:
                  type: string
                  description: Роль пользователя в системе
                  enum:
                    - admin
                    - user
                    - manager
                    - guest
              required:
                - fullname
                - position
                - email
                - role
      responses:
        '201':
          description: Новый пользователь успешно создан
          content:
            application/json:
              schema:
                type: object
                properties:
                  userId:
                    type: string
                    description: Уникальный идентификатор созданного пользователя
                  message:
                    type: string
                    description: Сообщение о успешном создании пользователя
        '403':
          description: Ошибка.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /users/list:
    get:
      tags:
        - Управление пользователями
      summary: Получение списка пользователей организации
      description: Позволяет получить список всех пользователей, принадлежащих указанной организации.
      security:
        - ApiKeyAuth: []
        - bearerAuth: [] 
      responses:
        '200':
          description: Список пользователей организации успешно получен
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    userId:
                      type: string
                      description: Уникальный идентификатор пользователя
                    username:
                      type: string
                      description: Имя пользователя для входа в систему
                    email:
                      type: string
                      format: email
                      description: Электронная почта пользователя
                    fullname:
                      type: string
                      description: Полное имя пользователя
                    position:
                      type: string
                      description: Должность пользователя в организации
                    role:
                      type: string
                      description: Роль пользователя в системе
                      enum:
                        - admin
                        - user
                        - manager
                        - guest
        '403':
          description: Ошибка.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /user/{userId}:
    delete:
      tags:
        - Управление пользователями
      summary: Удаление пользователя
      description: Позволяет администратору удалить пользователя из системы.
      security:
        - ApiKeyAuth: []
        - bearerAuth: []  
      parameters:
        - in: path
          name: userId
          required: true
          schema:
            type: string
          description: Уникальный идентификатор пользователя для удаления
      responses:
        '200':
          description: Пользователь успешно удален
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: Сообщение об успешном удалении пользователя
        '401':
          description: Неверный запрос, отсутствуют необходимые данные или данные некорректны
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Доступ запрещен. 
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    get:
      tags:
        - Управление пользователями
      summary: Получение данных пользователя
      description: Позволяет получить данные пользователя по его уникальному идентификатору.
      security:
        - ApiKeyAuth: []
        - bearerAuth: []  
      parameters:
        - in: path
          name: userId
          required: true
          schema:
            type: string
          description: Уникальный идентификатор пользователя для получения данных
      responses:
        '200':
          description: Данные пользователя успешно получены
          content:
            application/json:
              schema:
                type: object
                properties:
                  userId:
                    type: string
                    description: Уникальный идентификатор пользователя
                  fullname:
                    type: string
                    description: Полное имя пользователя
                  username:
                    type: string
                    description: Имя пользователя для входа в систему
                  email:
                    type: string
                    format: email
                    description: Электронная почта пользователя
                  position:
                    type: string
                    description: Должность пользователя в организации
                  lastLogin:
                    type: string
                    format: date-time
                    description: Дата и время 
                  role:
                    type: string
                    description: Роль пользователя в системе
                    enum:
                      - admin
                      - user
                      - manager
                      - guest
        '403':
          description: Ошибка.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    put:
      tags:
        - Управление пользователями
      summary: Обновление данных пользователя
      description: Позволяет пользователю обновить свои личные данные.
      security:
        - ApiKeyAuth: []
        - bearerAuth: []
      parameters:
        - in: path
          name: userId
          required: true
          schema:
            type: string
          description: Уникальный идентификатор пользователя для обновления данных
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                fullname:
                  type: string
                  description: Новое полное имя пользователя
                email:
                  type: string
                  format: email
                  description: Новая электронная почта пользователя
                position:
                  type: string
                  description: Должность пользователя в организации
                newPassword:
                  type: string
                  description: Новый пароль пользователя                

      responses:
        '200':
          description: Данные пользователя успешно обновлены
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: Сообщение об успешном обновлении данных пользователя
        '403':
          description: Ошибка.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /dashboard/ship:
    get:
      tags:
        - Дашборд
      summary: Формирование дашборда по отгрузке судна с грузами клиента
      description: >
        Эндпоинт для формирования дашборда по отгрузке судна с грузами клиента.
      security:
        - ApiKeyAuth: []
        - bearerAuth: []
      parameters:
        - name: startDate
          in: query
          description: Дата начала периода
          required: true
          schema:
            type: string
            format: date
        - name: endDate
          in: query
          description: Дата окончания периода
          required: true
          schema:
            type: string
            format: date
      responses:
        '200':
          description: Данные по отгрузке и погрузке успешно получены
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    date:
                      type: string
                      format: date
                      description: Дата
                    terminals:
                      type: array
                      description: Список терминалов порта с данными о погрузке и выгрузке
                      items:
                        type: object
                        properties:
                          terminal:
                            type: string
                            description: Терминал порта (например, Экономия, Бакарица)
                          load_weight:
                            type: number
                            format: float
                            description: Общий вес погруженных грузов
                          load_fe:
                            type: number
                            format: float
                            description: Фрахтовые единицы погрузки
                          unload_weight:
                            type: number
                            format: float
                            description: Общий вес выгруженных грузов
                          unload_fe:
                            type: number
                            format: float
                            description: Фрахтовые единицы выгрузки

        '400':
          description: Неверный запрос, отсутствуют необходимые данные
          content:
            application/json:
              schema: 
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Данные не найдены
          content:
            application/json:
              schema: 
                $ref: '#/components/schemas/ErrorResponse'
  /dashboard/rail:
    get:
      tags:
        - Дашборд
      summary: Формирование дашборда по отгрузке и погрузке ЖД вагонов с грузами клиента
      description: >
        Эндпоинт для формирования дашборда по отгрузке и погрузке ЖД вагонов с грузами клиента в разрезе терминалов порта.
      security:
        - ApiKeyAuth: []
        - bearerAuth: []
      parameters:
        - name: startDate
          in: query
          description: Дата начала периода
          required: true
          schema:
            type: string
            format: date
        - name: endDate
          in: query
          description: Дата окончания периода
          required: true
          schema:
            type: string
            format: date
      responses:
        '200':
          description: Данные по отгрузке и погрузке успешно получены
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    date:
                      type: string
                      format: date
                      description: Дата
                    terminals:
                      type: array
                      description: Список терминалов порта с данными о погрузке и выгрузке
                      items:
                        type: object
                        properties:
                          terminal:
                            type: string
                            description: Терминал порта (например, Экономия, Бакарица)
                          load_weight:
                            type: number
                            format: float
                            description: Общий вес погруженных грузов
                          load_fe:
                            type: number
                            format: float
                            description: Фрахтовые единицы погрузки
                          unload_weight:
                            type: number
                            format: float
                            description: Общий вес выгруженных грузов
                          unload_fe:
                            type: number
                            format: float
                            description: Фрахтовые единицы выгрузки
                          processed_wagons:
                            type: integer
                            description: Количество обработанных вагонов
        '400':
          description: Неверный запрос, отсутствуют необходимые данные
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Данные не найдены
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /dashboard/auto:
    get:
      tags:
        - Дашборд
      summary: Формирование дашборда по отгрузке и погрузке автомобилей с грузами клиента
      description: >
        Эндпоинт для формирования дашборда по отгрузке и погрузке автомобилей с грузами клиента в разрезе терминалов порта.
      security:
        - ApiKeyAuth: []
        - bearerAuth: []
      parameters:
        - name: startDate
          in: query
          description: Дата начала периода
          required: true
          schema:
            type: string
            format: date
        - name: endDate
          in: query
          description: Дата окончания периода
          required: true
          schema:
            type: string
            format: date
      responses:
        '200':
          description: Данные по отгрузке и погрузке успешно получены
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    date:
                      type: string
                      format: date
                      description: Дата
                    terminals:
                      type: array
                      description: Список терминалов порта с данными о погрузке и выгрузке
                      items:
                        type: object
                        properties:
                          terminal:
                            type: string
                            description: Терминал порта (например, Экономия, Бакарица)
                          load_weight:
                            type: number
                            format: float
                            description: Общий вес погруженных грузов
                          load_fe:
                            type: number
                            format: float
                            description: Фрахтовые единицы погрузки
                          unload_weight:
                            type: number
                            format: float
                            description: Общий вес выгруженных грузов
                          unload_fe:
                            type: number
                            format: float
                            description: Фрахтовые единицы выгрузки
                          processed_auto:
                            type: integer
                            description: Количество обработанных автомобилей
        '400':
          description: Неверный запрос, отсутствуют необходимые данные
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Данные не найдены
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /dashboard/warehouse:
    get:
      tags:
        - Дашборд
      summary: Отображение количества груза клиента на складских комплексах терминалов порта
      description: >
        Эндпоинт для отображения количества (вес в тоннах и фрахтовых единицах) груза клиента на складских комплексах терминалов порта на определенную дату в виде гистограммы.
      security:
        - ApiKeyAuth: []
        - bearerAuth: []
      parameters:
        - name: date
          in: query
          description: Дата для отображения данных
          required: true
          schema:
            type: string
            format: date
      responses:
        '200':
          description: Данные по грузам на складских комплексах успешно получены
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    terminal:
                      type: string
                      description: Терминал порта (например, Экономия, Бакарица)
                    warehouse:
                      type: array
                      description: Складской комплекс
                      items: 
                        type: object
                        properties:
                          warehouse_zone:
                            type: string
                            description: Складская зона                        
                          cargo_weight:
                            type: number
                            format: float
                            description: Вес груза в тоннах
                          cargo_fe:
                            type: number
                            format: float
                            description: Фрахтовые единицы груза
        '400':
          description: Неверный запрос, отсутствуют необходимые данные
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Данные не найдены
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /dashboard/container:
    get:
      tags:
        - Дашборд
      summary: Данные о количестве затаренных и растаренных контейнеров клиента
      description: >
        Эндпоинт для предоставления данных для дашборда о количестве затаренных и растаренных контейнеров клиента за период в разрезе терминалов и складских зон порта.
      security:
        - ApiKeyAuth: []
        - bearerAuth: []
      parameters:
        - name: startDate
          in: query
          description: Дата начала периода
          required: true
          schema:
            type: string
            format: date
        - name: endDate
          in: query
          description: Дата окончания периода
          required: true
          schema:
            type: string
            format: date
      responses:
        '200':
          description: Данные по контейнерным операциям успешно получены
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    terminal:
                      type: string
                      description: Терминал порта (например, Экономия, Бакарица)
                    warehouse:
                      type: array
                      description: Список складских зон терминала с данными о контейнерных операциях
                      items:
                        type: object
                        properties:
                          warehouse_zone:
                            type: string
                            description: Складская зона
                          stuffed_containers:
                            type: integer
                            description: Количество затаренных контейнеров
                          stripped_containers:
                            type: integer
                            description: Количество растаренных контейнеров
        '400':
          description: Неверный запрос, отсутствуют необходимые данные
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Данные не найдены
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /documents:
    get:
      tags:
        - Журнал документов
      summary: Получить список документов клиента
      description: Возвращает список документов клиента из журнала БД с поддержкой пагинации.
      security:
        - ApiKeyAuth: []
        - bearerAuth: []  
      parameters:
        - name: page
          in: query
          description: Номер страницы для пагинации
          required: false
          schema:
            type: integer
            default: 1
        - name: pageSize
          in: query
          description: Количество документов на странице
          required: false
          schema:
            type: integer
            default: 10
      responses:
        '200':
          description: Список документов успешно получен
          content:
            application/json:
              schema:
                type: object
                properties:
                  total:
                    type: integer
                    description: Общее количество документов
                  page:
                    type: integer
                    description: Текущая страница
                  pageSize:
                    type: integer
                    description: Количество документов на странице
                  documents:
                    type: array
                    items:
                      type: object
                      properties:
                        guid:
                          type: string
                          description: Уникальный идентификатор документа в БД
                          example: "9ea51b1f-5f7f-11ea-a9ac-ac1f6b48c241"
                        documentId:
                          type: string
                          description: Регистрационный номер документа
                          example: "0000098212"                          
                        documentName:
                          type: string
                          description: Название документа
                          example: "Приемный акт" 
                        documentType:
                          type: string
                          description: Тип операции
                          example: "Затарка" 
                        comment:
                          type: string
                          description: Комментарий к документу
                          example: "Стандартный груз"
                        attached:
                          type: boolean
                          description: Наличие прикрепленных файлов в документе 
                          example: true                         
                        createdDate:
                          type: string
                          format: date-time
                          description: Дата и время создания заявки
                required:
                  - total
                  - page
                  - pageSize
                  - requests
        '400':
          description: Неверный запрос, отсутствуют необходимые данные
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Документы не найдены
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /requests/types:
    get:
      tags:
        - Заявки на погрузку / выгрузку грузов
      summary: Получить все типы заявок
      description: Возвращает список всех типов заявок клиента из базы данных.
      security:
        - ApiKeyAuth: []
        - bearerAuth: []
      parameters:
        - name: page
          in: query
          description: Номер страницы для пагинации
          required: false
          schema:
            type: integer
            default: 1
        - name: pageSize
          in: query
          description: Количество типов заявок на странице
          required: false
          schema:
            type: integer
            default: 10
      responses:
        '200':
          description: Список типов заявок успешно получен
          content:
            application/json:
              schema:
                type: object
                properties:
                  total:
                    type: integer
                    description: Общее количество типов заявок
                  page:
                    type: integer
                    description: Текущая страница
                  pageSize:
                    type: integer
                    description: Количество типов заявок на странице
                  requestTypes:
                    type: array
                    items:
                      $ref: '#/components/schemas/RequestType'
                required:
                  - total
                  - page
                  - pageSize
                  - requestTypes
        '400':
          description: Неверный запрос, отсутствуют необходимые данные
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Типы заявок не найдены
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /requests:
    get:
      tags:
        - Заявки на погрузку / выгрузку грузов
      summary: Получить список заявок
      description: Возвращает список заявок на погрузку или разгрузку грузов с возможностью фильтрации по периоду и типу.
      parameters:
        - name: startDate
          in: query
          description: Дата начала периода
          required: false
          schema:
            type: string
            format: date
        - name: endDate
          in: query
          description: Дата окончания периода
          required: false
          schema:
            type: string
            format: date
        - name: page
          in: query
          description: Номер страницы для пагинации
          required: true
          schema:
            type: integer
            default: 1
        - name: pageSize
          in: query
          description: Количество заявок на странице
          required: true
          schema:
            type: integer
            default: 10
        - name: requestType
          in: query
          description: Тип заявки
          required: false
          schema:
            type: string           
      responses:
        '200':
          description: Список заявок успешно получен
          content:
            application/json:
              schema:
                type: object
                properties:
                  total:
                    type: integer
                    description: Общее количество заявок
                  page:
                    type: integer
                    description: Текущая страница
                  pageSize:
                    type: integer
                    description: Количество заявок на странице
                  requests:
                    type: array
                    items:
                      $ref: '#/components/schemas/CargoRequest'
                required:
                  - total
                  - page
                  - pageSize
                  - requests
        '400':
          description: Неверный запрос. Отсутствуют необходимые данные или данные некорректны
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Заявки не найдены
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      tags:
        - Заявки на погрузку / выгрузку грузов
      summary: Создать новую заявку на погрузку/разгрузку
      description: Создает новую заявку на погрузку или разгрузку грузов автомобиля или судна.
      requestBody:
        description: Данные для создания новой заявки
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CargoRequest'
      responses:
        '201':
          description: Заявка успешно создана
          content:
            application/json:
              schema:
                type: object
                properties:
                  guid:
                    type: string
                    description: Уникальный идентификатор созданной заявки
                required:
                  - guid
        '400':
          description: Неверный запрос. Отсутствуют необходимые данные или данные некорректны
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /requests/{guid}:
    get:
      tags:
        - Заявки на погрузку / выгрузку грузов
      summary: Получить заявку по GUID
      description: Возвращает данные заявки по ее уникальному идентификатору `guid`.
      parameters:
        - name: guid
          in: path
          description: Уникальный идентификатор заявки
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Данные заявки успешно получены
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CargoRequest'
        '400':
          description: Неверный запрос. Отсутствуют необходимые данные или данные некорректны
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Заявка не найдена
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /passes/requests:
    get:
      tags:
        - Заявки на пропуск
      summary: Получить список заявок
      description: Возвращает список заявок на пропуск с возможностью фильтрации по периоду и типу.
      parameters:
        - name: startDate
          in: query
          description: Дата начала периода
          required: false
          schema:
            type: string
            format: date
        - name: endDate
          in: query
          description: Дата окончания периода
          required: false
          schema:
            type: string
            format: date
        - name: passType
          in: query
          description: Тип заявки (пешеходный или автомобильный)
          required: false
          schema:
            type: string
            enum: [persona, driver]
        - name: page
          in: query
          description: Номер страницы для пагинации
          required: true
          schema:
            type: integer
            default: 1
        - name: pageSize
          in: query
          description: Количество заявок на странице
          required: true
          schema:
            type: integer
            default: 10
      responses:
        '200':
          description: Список заявок успешно получен
          content:
            application/json:
              schema:
                type: object
                properties:
                  total:
                    type: integer
                    description: Общее количество заявок
                  page:
                    type: integer
                    description: Текущая страница
                  pageSize:
                    type: integer
                    description: Количество заявок на странице
                  requests:
                    type: array
                    items:
                      oneOf:
                        - $ref: '#/components/schemas/PersonaPassRequest'
                        - $ref: '#/components/schemas/DriverPassRequest'
                required:
                  - total
                  - page
                  - pageSize
                  - requests
        '400':
          description: Неверный запрос. Отсутствуют необходимые данные или данные некорректны
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Заявки не найдены
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      tags:
        - Заявки на пропуск
      summary: Создать заявку на пропуск в порт
      description: Создает новую заявку на пропуск в порт, как для пешеходов (гостей), так и для водителей на автомобиле.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
                - $ref: '#/components/schemas/PersonaPassRequest'
                - $ref: '#/components/schemas/DriverPassRequest'
      responses:
        '201':
          description: Заявка успешно создана
          content:
            application/json:
              schema:
                type: object
                properties:
                  guid:
                    type: string
                    description: Уникальный идентификатор созданной заявки
                required:
                  - guid
        '400':
          description: Неверный запрос. Отсутствуют необходимые данные или данные некорректны
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /passes/requests/{guid}:
    get:
      tags:
        - Заявки на пропуск
      summary: Получить заявку по GUID
      description: Возвращает данные заявки по ее уникальному идентификатору `guid`.
      parameters:
        - name: guid
          in: path
          description: Уникальный идентификатор заявки
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Данные заявки успешно получены
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/PersonaPass'
                  - $ref: '#/components/schemas/DriverPass'
        '400':
          description: Неверный запрос. Отсутствуют необходимые данные или данные некорректны
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Заявка не найдена
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /passes:
    get:
      tags:
        - Пропуска
      summary: Получить список пропусков
      description: Возвращает список всех пропусков с поддержкой пагинации.
      parameters:
        - name: page
          in: query
          description: Номер страницы для пагинации
          required: true
          schema:
            type: integer
            default: 1
        - name: pageSize
          in: query
          description: Количество пропусков на странице
          required: true
          schema:
            type: integer
            default: 10
        - name: startDate
          in: query
          description: Дата начала периода
          required: false
          schema:
            type: string
            format: date
        - name: endDate
          in: query
          description: Дата окончания периода
          required: false
          schema:
            type: string
            format: date
        - name: passType
          in: query
          description: Тип пропуска (Пешеходный или Автомобильный)
          required: false
          schema:
            type: string
            enum: ["Пешеходный", "Автомобильный"]            
      responses:
        '200':
          description: Список пропусков успешно получен
          content:
            application/json:
              schema:
                type: object
                properties:
                  total:
                    type: integer
                    description: Общее количество пропусков
                  page:
                    type: integer
                    description: Текущая страница
                  pageSize:
                    type: integer
                    description: Количество пропусков на странице
                  passes:
                    type: array
                    items:
                      oneOf:
                        - $ref: '#/components/schemas/DriverPass'
                        - $ref: '#/components/schemas/PersonaPass'
                required:
                  - total
                  - page
                  - pageSize
                  - passes
        '400':
          description: Неверный запрос. Отсутствуют необходимые данные
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    # post:
    #   tags:
    #     - Пропуска
    #   summary: Создать пропуск
    #   description: Создает новый пропуск.
    #   parameters:
    #     - name: passType
    #       in: query
    #       description: Тип заявки (пешеходный или автомобильный)
    #       required: true
    #       schema:
    #         type: string
    #         enum: ["Пешеходный", "Автомобильный"]             
    #   requestBody:
    #     required: true
    #     content:
    #       application/json:
    #         schema:
    #           oneOf:
    #             - $ref: '#/components/schemas/DriverPass'
    #             - $ref: '#/components/schemas/PersonaPass'
    #   responses:
    #     '201':
    #       description: Пропуск успешно создан
    #       content:
    #         application/json:
    #           schema:
    #             oneOf:
    #               - $ref: '#/components/schemas/DriverPass'
    #               - $ref: '#/components/schemas/PersonaPass'
    #     '400':
    #       description: Неверный запрос. Отсутствуют необходимые данные или данные некорректны
    #       content:
    #         application/json:
    #           schema:
    #             $ref: '#/components/schemas/ErrorResponse'
  /passes/{guid}:
    get:
      tags:
        - Пропуска
      summary: Получить пропуск по уникальному идентификатору
      description: Возвращает данные пропуска по его уникальному идентификатору `guid`.
      parameters:
        - name: guid
          in: path
          description: Уникальный идентификатор пропуска
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Данные пропуска успешно получены
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/DriverPass'
                  - $ref: '#/components/schemas/PersonaPass'
        '404':
          description: Пропуск не найден
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    # put:
    #   tags:
    #     - Пропуска
    #   summary: Обновить пропуск
    #   description: Обновляет данные существующего пропуска.
    #   parameters:
    #     - name: guid
    #       in: path
    #       description: Уникальный идентификатор пропуска
    #       required: true
    #       schema:
    #         type: string
    #   requestBody:
    #     required: true
    #     content:
    #       application/json:
    #         schema:
    #           oneOf:
    #             - $ref: '#/components/schemas/DriverPass'
    #             - $ref: '#/components/schemas/PersonaPass'
    #   responses:
    #     '200':
    #       description: Пропуск успешно обновлен
    #       content:
    #         application/json:
    #           schema:
    #             oneOf:
    #               - $ref: '#/components/schemas/DriverPass'
    #               - $ref: '#/components/schemas/PersonaPass'
    #     '400':
    #       description: Неверный запрос. Отсутствуют необходимые данные или данные некорректны
    #       content:
    #         application/json:
    #           schema:
    #             $ref: '#/components/schemas/ErrorResponse'
    #     '404':
    #       description: Пропуск не найден
    #       content:
    #         application/json:
    #           schema:
    #             $ref: '#/components/schemas/ErrorResponse'
    # delete:
    #   tags:
    #     - Пропуска
    #   summary: Удалить пропуск
    #   description: Удаляет пропуск по его уникальному идентификатору.
    #   parameters:
    #     - name: guid
    #       in: path
    #       description: Уникальный идентификатор пропуска
    #       required: true
    #       schema:
    #         type: string
    #   responses:
    #     '204':
    #       description: Пропуск успешно удален
    #     '404':
    #       description: Пропуск не найден
    #       content:
    #         application/json:
    #           schema:
    #             $ref: '#/components/schemas/ErrorResponse'

  /vesselcalls:
    get:
      tags:
        - Судозаходы
      summary: Получить судозаходы за период
      description: Возвращает список судозаходов за указанный период с возможностью фильтрации по судам и пагинацией.
      security:
        - ApiKeyAuth: []
        - bearerAuth: []
      parameters:
        - name: startDate
          in: query
          required: false
          description: Начальная дата периода (включительно)
          schema:
            type: string
            format: date
            example: "2023-10-01"
        - name: endDate
          in: query
          required: false
          description: Конечная дата периода (включительно)
          schema:
            type: string
            format: date
            example: "2023-10-31"
        - name: vesselName
          in: query
          required: false
          description: Название судна для фильтрации
          schema:
            type: string
            example: "MSC Zoe"
        - name: status
          in: query
          required: false
          description: Статус
          schema:
            type: string
            example: "Ожидается"        
        - name: page
          in: query
          required: true
          description: Номер страницы для пагинации
          schema:
            type: integer
            default: 1
        - name: pageSize
          in: query
          required: true
          description: Количество судозаходов на странице
          schema:
            type: integer
            default: 10
      responses:
        '200':
          description: Список судозаходов успешно получен
          content:
            application/json:
              schema:
                type: object
                properties:
                  total:
                    type: integer
                    description: Общее количество судозаходов
                  page:
                    type: integer
                    description: Текущая страница
                  pageSize:
                    type: integer
                    description: Количество судозаходов на странице
                  vesselCalls:
                    type: array
                    items:
                      $ref: '#/components/schemas/VesselCall'
                required:
                  - total
                  - page
                  - pageSize
                  - vesselCalls
        '400':
          description: Неверный запрос
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: "Неверные параметры запроса"
  /vesselcalls/{guid}:
    get:
      tags:
        - Судозаходы
      summary: Получить данные по судозаходу
      description: Возвращает данные по указанному идентификатору судозахода  `guid`.
      security:
        - ApiKeyAuth: []
        - bearerAuth: []
      parameters:
        - name: callId
          in: path
          required: true
          description: Уникальный идентификатор судозахода
          schema:
            type: string
            example: "VC123456"
      responses:
        '200':
          description: Данные по судозаходу успешно получены
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VesselCall'
        '404':
          description: Судозаход не найден
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: "Судозаход не найден"

  /cargoes:
    get:
      tags:
        - Грузы
      summary: Получить информацию о наличии груза клиента на складских комплексах порта
      description: Возвращает информацию о наличии груза клиента на складских комплексах и складских зонах порта на указанную дату с пагинацией.
      security:
        - ApiKeyAuth: []
        - bearerAuth: []
      parameters:
        - name: date
          in: query
          required: false
          description: Дата проверки наличия груза (по умолчанию текущая дата)
          schema:
            type: string
            format: date
            example: "2023-10-01"
            default: "Текущая дата"
        - name: warehouse
          in: query
          required: false
          description: Складской комплекс
          schema:
            type: string
            example: "Складской комплекс 1"            
        - name: page
          in: query
          required: true
          description: Номер страницы для пагинации
          schema:
            type: integer
            default: 1
        - name: pageSize
          in: query
          required: true
          description: Количество записей на странице
          schema:
            type: integer
            default: 10
      responses:
        '200':
          description: Информация о наличии груза успешно получена
          content:
            application/json:
              schema:
                type: object
                properties:
                  total:
                    type: integer
                    description: Общее количество записей
                  page:
                    type: integer
                    description: Текущая страница
                  pageSize:
                    type: integer
                    description: Количество записей на странице
                  cargoAvailability:
                    type: array
                    items:
                      type: object
                      properties:
                        warehouse:
                          type: string
                          description: Складской комплекс
                          example: "Складской комплекс 1"
                        warehouseZone:
                          type: string
                          description: Складская зона
                          example: "Зона A"
                        cargoes:
                          type: array
                          items:
                            $ref: '#/components/schemas/Cargo'
                required:
                  - total
                  - page
                  - pageSize
                  - cargoAvailability
        '400':
          description: Неверный запрос
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: "Неверные параметры запроса"

  /cargoes/{guid}:
    get:
      tags:
        - Грузы
      summary: Получить информацию о единице груза
      description: Возвращает информацию о единице груза по указанному идентификатору `guid`.
      security:
        - ApiKeyAuth: []
        - bearerAuth: []
      parameters:
        - name: guid
          in: path
          required: true
          description: Уникальный идентификатор груза
          schema:
            type: string
            example: "cargo123456"
      responses:
        '200':
          description: Информация о грузе успешно получена
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Cargo'
        '404':
          description: Груз не найден
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: "Груз не найден"

  /cargoes/{guid}/photos:
    get:
      tags:
        - Грузы
      summary: Получить фотографии груза
      description: Возвращает список фотографий, приложенных к указанной единице груза.
      security:
        - ApiKeyAuth: []
        - bearerAuth: []
      parameters:
        - name: guid
          in: path
          required: true
          description: Уникальный идентификатор груза
          schema:
            type: string
            example: "cargo123456"
      responses:
        '200':
          description: Фотографии груза успешно получены
          content:
            application/json:
              schema:
                type: object
                properties:
                  photos:
                    type: array
                    description: Список фотографий груза
                    items:
                      type: string
                      format: binary
                required:
                  - photos
        '404':
          description: Груз не найден или фотографии не найдены
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: "Груз не найден или фотографии не найдены"
